@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.07rem;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0088b5;
}
header{
    color: #eeffff;
}
hr {
    background-color: #eeffff;
    border: none;
    height: 3px;
    margin: 2rem 0;
}
.heading {
    margin: 2rem 2rem 1rem 2rem;
    text-shadow: 5px -3px #555555;
}
.heading h1 {
    display: inline-block;
    margin: 0 1rem 0 0;
}
.subheading {
    font-size: 20px;
    margin: 0 2rem;
    width: 241px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: 1fr 1fr;
    text-shadow: 5px -3px #555555;
}
.subheading p {
    margin: 0;
    padding: 0;
}
.subheading p:first-child {
    grid-column: 1/6;
    grid-row: 1/1;
}
.subheading p:last-child {
    grid-column: 4/8;
    grid-row: 2/2;
}
main {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
}
.img {
    width: 50%;
    display: block;
}
.nav {
    width: 50%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
ul {
    margin: 0 2rem;
    padding: 0;
}
ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 1rem 0;
}
a {
    text-decoration: none;
    color: white;
}
.first-letter {
    font-size: 30px;
}
.zusatz {
    text-transform: initial;
}
footer {
    margin-top: 5rem;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .img {
        width: 100%;
        display: block;
    }
    .nav {
        width: 100%;
    }
}